api.jipkok.app {
    tls /certs/origin.pem /certs/origin-key.pem

    request_body {
        max_size 1MB
    }

    reverse_proxy server:8080 {
        lb_try_duration 30s
        lb_try_interval 250ms
    }

    encode zstd gzip

    log {
        output stdout
        format filter {
            request>uri regexp "(/device-tokens/)[^/?]*|([?&](?:keyword|reportedPhoneNumber|to)=)[^&]*" "${1}${2}***"
            wrap json
        }
    }
}
