api.jipkok.app {
    tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin-key.pem

    reverse_proxy server:8080 {
        lb_try_duration 30s
        lb_try_interval 250ms
    }

    encode zstd gzip

    log {
        output stdout
        format json
    }
}
